.chatList {
  flex: 1;
  overflow: scroll;
   overflow-x: hidden;
   overflow-y: auto;
    &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #7a7a7a;
  }
}


.chatList .search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.chatList .search .searchBar {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.5);
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
}

.chatList .search .searchBar input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1;
}

.chatList .search .searchBar img {
  width: 20px;
  height: 20px;
}

.chatList .search .add {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: rgba(17, 25, 40, 0.5);
  padding: 10;
  border-radius: 10px;
}
 

.chatList .item {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;


    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;

    }
    .texts {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-weight: 500;

        }
        p {
            font-size: 14px;
            font-weight: 300;
        }
    }
}
